.sim {
    width: 100%;
    height: 100%;
}

.quizContainer {
    width: 30%;
    height: 95%;
    border: solid;
    position: absolute;
    top: 1%;
    left: 65%;
    list-style:none;

}

.question {

}

.replay {

}

.verticalCar {
    height: 50px;
    width: 25px;
    z-index: 100;
    background: black;
    position: absolute;
}

.horizontalCar {
    height: 25px;
    width: 50px;
    z-index: 100;
    background: black;
    position: absolute;
}

.verticalMainCar {
    height: 50px;
    width: 25px;
    z-index: 100;
    background: red;
    position: absolute;
}

.horizontalMainCar {
    height: 25px;
    width: 50px;
    z-index: 100;
    background: red;
    position: absolute;
}

.verticalRoad {
    z-index: 1;
    background: #846870;
    width: 100px;
    position: absolute;
}

.horizontalRoad {
    z-index: 1;
    background: #846870;
    height: 100px;
    position: absolute;
}
